.tag-1{
  color : rgba(22,35,65, 1)
}

#tag-2{
  color : rgba(22,35,65, 1)
}

#tag-3{
  color : rgba(22,35,65, 1)
}

#tag-4{
  color : rgba(22,35,65, 1)
}

#tag-5{
  color : rgba(22,35,65, 1)
}

#tag-6{
  color : rgba(22,35,65, 1)
}

#tag-7{
  color : rgba(22,35,65, 1)
}

#tag-2{
  color : rgba(22,35,65, 1)
}
#tag-2{
  color : rgba(22,35,65, 1)
}
#tag-2{
  color : rgba(22,35,65, 1)
}
#tag-2{
  color : rgba(22,35,65, 1)
}
#tag-2{
  color : rgba(22,35,65, 1)
}
